@charset "utf-8";
th {
    text-align: left;
    vertical-align: bottom;
}
th div {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-top: 0.25em;
    width: 1em;
    white-space: nowrap;
    max-height: 6em;
    overflow: hidden;
}
td.result {
    border: 1px solid #888;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
td.miscmessage.result[title]::before {
    content: '●';
}
td.message.result[title]::before {
    content: '○';
}
td.miscmessage.message.result[title]::before {
    content: '🞉' !important;
}
td.imp {
    border: 2px solid #444;
}
td.pimp {
    border: 3px solid #000;
}
table {
    border-collapse: collapse;
}
td {
    padding: 2px;
    white-space: nowrap;
}
th.extn, td.extn {
    padding-right: 1em;
    text-align: right;
}
th.filename, td.filename {
    padding-left: 1em;
}
.canread {
    background: #0f0;
}
.canread.emptyscene {
    background: #ff0;
}
.haderror {
    background: #fa0;
}
.crashed {
    background: #f00;
}
.untested {
    background: #ccc;
}
.test-read .haderror:not(.imp,.pimp) {
    background: unset;
}
.filename.rel-path-failed {
    color: red;
}
tr.noimp .result {
    background: #888;
}
tr.u_canread {
    background: #008;
}
tr.u_canread.u_emptyscene {
    background: #088;
}
footer {
    padding-top: 4em;
}
thead {
    background: white;
}
